*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
main{
    height: 100vh;
    background: linear-gradient(to right top, #014872, #A0EACF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{
    max-width: 500px;
    height: auto;
    background-color: #CAE7DF;
    padding: 50px;
    box-shadow: 1px 1px 15px 3px #22bbb1c1;

}
h1{
    margin-bottom: 10px;
    text-shadow: 1px 2px 1px white;
    text-transform: capitalize;
}
label{
    display: block;
    text-transform: capitalize;
    margin-top: 30px;
}
input{
    width: 300px;
    padding: 10px 0;
}
button{
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: none;
    color: white;
    background: turquoise;
    box-shadow: 1px 1px 5px 1px #2d3436;
    margin-top: 20px;

}